@import url("https://fonts.googleapis.com/css2?family=Anton&display=swap");

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 1rem;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

html {
  font-size: 10px;
}

body {
  min-height: 100vh;
  height: 100%;
  width: 100%;
  line-height: 1;
  position: relative;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #000;
}

h2 {
  font-size:  2rem;
}

.header {
  height: 100px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #fff;
  z-index: 10;
}

.header__sub-container {
  width: 95%;
  height: 100%;
  margin: auto;
  border-bottom: 1px solid #dbdbdb;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-container {
  width: 40%;
  height: 100%;
  display: flex;
  align-items: center;
}

.logo-container__logo {
  width: 100px;
  margin-top: -6px;
}

.logo-container__company-name {
  color: #000;
  font-size: 4rem;
  font-family: "Anton", sans-serif;
}

.nav-container {
  display: flex;
  justify-content: space-around;
}

.nav-container__link {
  font-size: 2.3rem;
  margin: 0 20px;
}

.nav-container__link_active {
  text-shadow: 0 0 5px #c29d2f;
}

.nav-container_burger {
  display: none;
  background: center/contain no-repeat url("../images/icons/bars-solid.svg");
  width: 20px;
  height: 20px;
}

.nav-container_burger__root {
  position: relative;
  width: 100%;
  height: 100%;
}

.nav-container_burger__root:hover .dropdown {
  display: block;
}

.dropdown {
  display: none;
  position: absolute;
  padding: 5px;
  right: 0;
  top: 20px;
  border: 1px solid #dbdbdb;
  background-color: #fff;
}

.dropdown__item {
  font-size: 3rem;
  margin: 15px 0;
}

.helpful-container {
  display: inline-flex;
  flex-direction: column;
  justify-content: space-between;
  position: sticky;
  width: 200px;
  height: 130px;
  top: 20%;
  left: 10px;
  padding: 20px;
  border-radius: 10px;
  background-color: #F2F1EE;
  opacity: 0.5;
  transition: opacity 0.3s;
  z-index: 2;
}

.helpful-container:hover {
  opacity: 1;
}

.link {
  font-size: 1.5rem;
  margin: 5px 0;
}

.main {
  border: 1px solid red;
  margin-top: -50px
}

.scene {
  background: url("../images/backdrops/home-first.jpg") no-repeat fixed center / cover;
  height: 80vh;
  text-align: center;
  position: relative;
}

.scene__title {
  color: #fff;
  font-size: 5rem;
}

.shadow {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: #000;
  opacity: 0.7;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 80px;
}

.footer__sub-container{
  width: 95%;
  height: 100%;
  margin: auto;
  border-top: 1px solid #dbdbdb;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.vertical-alignment {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.copyrights {
  font-size: 1.4rem;
}

@media (max-width: 768px) {
  html {
    font-size: 8px;
  }

  .nav-container__sub-container {
    display: none;
  }

  .logo-container__logo {
    display: none;
  }

  .nav-container_burger {
    display: block;
  }
}
